<section class="hero is-success is-fullheight"> 
   <div class="hero-body">
     <div class="container">
       <div class="columns is-centered">
          <div class="column is-6-table- is-6-desktop is-6-widescreen">
            <div class="box">
              
              <div class="field has-text-centered">
                <strong>Atualizar Perfil</strong>
              </div>
                <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                    <%= render "devise/shared/error_messages", resource: resource %>

                    <div class="field">
                      <%= f.label :Nome_Completo, class: "label" %>
                      <%= f.text_field :full_name, autofocus: true, autocomplete: "Nome_Completo", class: "input" %>
                    </div>

                    <div class="field">
                      <%= f.label :email, class: "label" %>
                      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input" %>
                    </div>

                    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                      <div>Esperando pela confirmação: <%= resource.unconfirmed_email %></div>
                    <% end %>

                    <div class="field">
                      <%= f.label :Senha, class: "label" %> <i>(deixa em branco se não queres trocar)</i>
                      <%= f.password_field :password, autocomplete: "new-password",  class: "input" %>
                      <% if @minimum_password_length %>
                        <br />
                        <em><%= @minimum_password_length %> caracteres no minimo</em>
                      <% end %>
                    </div>

                    <div class="field">
                      <%= f.label :Confirmar_senha, class: "label" %>
                      <%= f.password_field :password_confirmation, autocomplete: "new-password",  class: "input" %>
                    </div>

                    <div class="field">
                      <%= f.label :current_password, class: "label" %> <i>(precisamos da sua actual senha para confirmação)</i>
                      <%= f.password_field :current_password, autocomplete: "current-password",  class: "input" %>
                    </div>

                    <div class="actions">
                      <%= f.submit "Atualizar", class: "button is-success is-fullwidth" %>
                    </div>
                  <% end %></br>

                  <%= link_to "Voltar", :back, class: "button is-success is-fullwidth" %>

            </div>
          </div>
       </div>
     </div>
   </div>
</section>








