<section class="section">
    <div class="container">
        <p class="title">Gerir pedidos de compra</p>

        <table class="table is-fullwidth">
            <thead>
                <tr>
                    <th>Data</th>
                    <th>Vendedor</th>
                    <th>Discrição</th>
                    <th>Validade</th>
                    <th>Valor</th>
                    <th>Situação</th>
                    <th>Acção</th>
                </tr>
            </thead>
            <tbody>
                <% if @orders.blank? %>
                  <tr>
                      <td colspan="7" class="has-text-centered"><h1>Nada para mostrar aqui</h1></td>
                  </tr>
                <% end %>
                <% @orders.each do |o| %>
                    <tr>
                        <td><%= o.created_at.strftime('%d %b %Y') %></td>
                        <td><%= o.seller_name %></td>
                        <td><%= link_to o.title, gig_path(o.gig) %></td>
                        <td><%= o.due_date.strftime('%d %b %Y') %></td>
                        <td><%= o.amount %></td>
                        <td>
                            <span class="tag <%= 'is-warning' if o.incompleto? %> <%= 'is-success' if o.completo? %>">
                                <%= o.status.capitalize %>
                            </span>
                        </td>
                        <td>
                            <% if !o.completo? %>
                                <%= link_to 'Marcar como completo', complete_order_url(o), method: :put,  class: "button is-small is-primary #{'is-hidden' if o.completo?}" %>
                            <% else %>
                            <a class="button is-small is-outlined is-danger toggle-modal" aria-control="<%= o.id %>">Avaliação</a>

                            <div class="modal" id="<%= o.id %>">
                                <div class="modal-background"></div>
                                <div class="modal-content">
                                    <div class="box">
                                        <%= form_for Review.new do |f| %>
                                            <%= f.hidden_field :order_id, value: o.id %>
                                            <div class="field">
                                                <div id="star_<%= o.id %>"></div>
                                            </div>
                                            <div class="field">
                                                <%= f.text_area :review, class: "textarea" %>
                                            </div>
                                            <a class="toggle-modal button is-light" aria-control="<%= o.id %>">Cancelar</a>
                                            <%= f.submit "Avaliar", class: "button is-danger" %>
                                        <% end %>
                                    </div>
                                </div>
                            </div>
                        <% end %>
                        </td>
                    </tr>
                <% end %>
            </tbody>
        </table>

    </div>
</section>
<script>
    $('.toggle-modal').on('click', (e) => {
        e.stopPropagation();
        e.preventDefault();

        var order_id = e.target.getAttribute('aria-control');
        $('#star_' + order_id).raty({
            path: '/assets/raty-js/lib/images',
            scoreName: 'review[stars]',
            score: 1
        });
        $('#star_' + order_id).raty('reload');
        $('#' + order_id).toggleClass('is-active');
    });
</script>